.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary{
    margin-bottom: 40px;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../../assets/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 150vh;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}